@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1009;
}

.spinner {
  animation: spin 2s linear infinite;
  border: 8px solid black;
  border-top: 8px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header {
  position: fixed;
  z-index: 1001;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  top: 0;
}

header .nav {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav .nav-content {
  display: flex;
  list-style: none;
}

header .nav .toggle {
  display: none;
}

.nav .nav-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 24px;
  background: linear-gradient(to right, #06beb6, #48b1bf);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .nav .nav-content li a {
  text-decoration: none;
  font-family: "Konkhmer Sleokchher", sans-serif;
  color: white;
  font-size: 14px;
}
header .nav .nav-content li {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

header .nav .nav-content .nav-portfolio a {
  background-color: #e7615c;
  padding: 0.1rem 0.5rem;
  color: white;
  border-radius: 7px;
  transition: all 0.3s ease;
  border: 2px solid #e7615c;
}

header .nav .nav-content .nav-portfolio a:hover {
  box-shadow: 0px 0px 5px 2px rgba(231, 97, 92, 0.25);
}

.active {
  border-bottom: 2px solid white;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #4ca8c7;
}

.hero .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

.bg-1 {
  background-image: url("/source/img-large/1.png");
}

.bg-2 {
  background-image: url("/source/img-large/2.png");
}
.bg-3 {
  background-image: url("/source/img-large/3.png");
}
.bg-4 {
  background-image: url("/source/img-large/4.png");
  z-index: 5;
  transform: translateY(0);
}
.bg-5 {
  z-index: 1000;
  background-image: url("/source/img-large/5.png");
}

.hero h1 {
  font-size: 8rem;
  font-family: "Konkhmer Sleokchher", sans-serif;
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  line-height: 1;
}

.hero .ttl {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 999;
}

.hero p {
  color: #fff;
  font-family: "Konkhmer Sleokchher", sans-serif;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 6px;
  font-size: 14px;
}

#about,
#contact,
#blog {
  font-family: "Konkhmer Sleokchher", sans-serif;
  padding-top: 5rem;
  min-height: 100vh;
}

#about {
  background-color: #21241f;
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

#about .about-left {
  padding: 2rem 3rem;
}

#about .about-left img {
  width: 340px;
}

#about .about-right h1,
#about .about-right {
  text-align: right;
}

#about .about-right {
  color: rgba(225, 225, 225, 0.5);
}

#about h1 {
  color: white;
  text-align: center;
}

#blog {
  padding: 0 2rem;
}

#blog .blog-items {
display: grid;
grid-template-columns: auto auto auto;
}

#contact h1 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hero .bg {
    background-size: contain;
    background-position: top;
  }
  .nav-logo {
    font-size: 16px;
  }
  header .nav .nav-content li a {
    font-size: 9px;
  }
  header .nav .nav-content li {
    margin-left: 1rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  #about {
    grid-template-columns: auto;
  }

  #about .about-left img {
    width: 280px;
  }

  #about .about-right h1 {
    font-size: 14px;
  }

  #about .about-right h3 {
    font-size: 14px;
  }

  #about .about-right p {
    font-size: 14px;
  }
}

#close {
  display: none;
}

@media screen and (max-width: 480px) {
  header .nav .nav-content #close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }

  #about .about-left img {
    width: 180px;
  }

  #about .about-right h1 {
    font-size: 12px;
  }

  #about .about-right h3 {
    font-size: 12px;
  }

  #about .about-right p {
    font-size: 12px;
  }

  header .nav .nav-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    right: 0;
    top: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 -5px 14px rgba(0, 0, 0, 0.3);
    width: 50%;
    transform: translateX(1000px);
    transition: all 0.3s ease;
    height: 100vh;
    gap: 16px;
  }

  header .nav .nav-content li a {
    color: black;
  }

  header .nav .nav-content .nav-portfolio {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
  }

  header .nav .nav-content .nav-portfolio a {
    width: 100%;
    padding: 0.3rem;
  }

  header .nav .toggle {
    display: block;
  }

  .active {
    border-bottom: 2px solid black;
  }
}
