* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* loading */

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1009;
}

.spinner {
  animation: spin 2s linear infinite;
  border: 8px solid black;
  border-top: 8px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* navbar */

header {
  position: fixed;
  z-index: 1001;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

header .nav {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav-logo {
  color: white;
}

header .nav .nav-content {
  font-family: "Konkhmer Sleokchher", sans-serif;
  display: flex;
  list-style: none;
}

header .nav .nav-content li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

header .nav .nav-content li {
  margin-left: 1rem;
}

header .nav .nav-content .nav-portfolio a {
  background-color: #e7615c;
  padding: 0.2rem 0.5rem;
  color: white;
  border-radius: 7px;
  transition: all 0.3s ease;
  border: 2px solid #e7615c;
}

header .nav .nav-content .nav-portfolio a:hover {
  box-shadow: 0px 0px 5px 2px rgba(231, 97, 92, 0.25);
}

/* modal */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.modal-icon {
  background-color: #e96371;
  width: 100%;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.modal .modal-content {
  background-color: #fff;
  width: 80%;
  gap: 12px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.hidden-modal {
  display: none;
}

.modal .modal-content p {
  text-align: center;
  padding: 1rem;
  font-size: 14px;
}

.modal .modal-content button {
  width: 90%;
  padding: 0.5rem 0;
  margin: 1rem;
  outline: none;
  border: none;
  color: white;
  background-color: #efb918;
  border-radius: 6px;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title-carousel {
  padding: 1rem 0 2rem 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.carousel .list {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.carousel .list .item {
  flex: 0 0 auto;
  width: 300px;
  height: 390px;
  transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
  opacity: 0.5;
  filter: grayscale(100%);
  transform: scale(0.8);
}

.carousel .list .item.active {
  opacity: 1;
  filter: grayscale(0);
  transform: scale(1);
}

.carousel .list .item .item-img {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.carousel .list .item .item-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel .list .item .item-img .info {
  position: absolute;
  background-image: linear-gradient(
    to top,
    rgba(43, 43, 43, 0.5),
    rgba(225, 225, 225, 0.1)
  );
  width: 100%;
  padding: 0.5rem;
  color: white;
  font-family: "Konkhmer Sleokchher", sans-serif;
  overflow: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  border-radius: 0 0 8px 8px;
}

.carousel .list .item .item-img .info h1 {
  font-size: 1rem;
  line-height: 1.5;
}

.carousel .list .item .item-img .info h3 {
  font-size: 12px;
  color: rgba(225, 225, 225, 0.8);
}

/* .carousel .list .item .item-img .info p {
  font-size: 9px;
} */

.carousel .list .item.active .item-img .info .btn-portfolio button {
  width: 100%;
  padding: 0.3rem 0;
  border: none;
  outline: none;
  border-radius: 3px;
  color: #fff;
  font-family: "Konkhmer Sleokchher", sans-serif;
}

.carousel .list .item .item-img .info h3,
.carousel .list .item .item-img .info a {
  display: none;
}

.carousel .list .item.active .item-img .info h3,
.carousel .list .item.active .item-img .info a {
  display: block;
}

.carousel .list .item .item-img img {
  width: 100%;
}

.carousel .list .item .dev {
  background-color: #193fff;
}

.carousel .list .item .dev .info .btn-portfolio button {
  background-color: #193fff;
  box-shadow: 0 0 12px rgba(25, 63, 255, 0.6);
}

.carousel .list .item .ui {
  background-color: #f90053;
}
.carousel .list .item .ui .info .btn-portfolio button {
  background-color: #f90053;
  box-shadow: 0 0 12px rgba(249, 0, 83, 0.6);
}

.carousel .list .item .illust {
  background-color: #f9b300;
}

.carousel .list .item .illust .info .btn-portfolio button {
  background-color: #f9b300;
  box-shadow: 0 0 12px rgba(249, 179, 0, 0.6);
}

@media screen and (max-width: 768px) {
  header .nav .nav-content {
    flex-direction: column;
    align-items: flex-start;
  }

  header .nav .nav-content li {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  .carousel .list .item {
    width: 200px;
  }

  .carousel .list .item .item-img {
    width: 100%;
    height: 20rem;
  }

  .carousel .list .item .item-img .info h1 {
    font-size: 0.9rem;
  }

  .carousel .list .item .item-img .info h3 {
    font-size: 0.8rem;
  }

  .carousel .list .item .item-img .info p {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .carousel .list .item {
    width: 150px;
  }

  .carousel .list .item .item-img {
    height: 15rem;
  }

  .carousel .list .item .item-img .info h1 {
    font-size: 0.8rem;
  }

  .carousel .list .item .item-img .info h3 {
    font-size: 0.5rem;
  }
  .carousel .list .item .item-img .info p {
    font-size: 0.4rem;
  }
}
